<h2 class="cart-title">Carrinho</h2>
<div>
    <ul>
        <li *ngFor="let itemCarrinho of itensCarrinho">
            <img [src]="itemCarrinho.imagem" />
            <p>{{ itemCarrinho.descricao }}</p>
            <p>{{ itemCarrinho.preco | currency:'BRL':'symbol' }}</p>
            <label>
                Quantidade:
                <input type="Number" [(ngModel)]="itemCarrinho.quantidade">
            </label>
            <button class="remove-button" (click)="carrinhoService.removerProdutoCarrinho(itemCarrinho.id)"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>
    <h2 class="cart-total">Total: {{totalCarrinho | currency:'BRL'}}</h2>
    <button class="buy-button">Comprar</button>
</div>